ul {
	max-height: 300px;
}
ul .gist {
	max-height: 150px;
}
.gist-file, .gist-data, .js-gist-file-update-container, .js-gist-file-update-container div, .js-gist-file-update-container article {
	max-height: 50px;
}